<!-- base.html -->
{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>{% block title %}Video App{% endblock %}</title>
    <!-- Bootstrap CSS -->
    <link href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" rel="stylesheet">
    {% block extra_head %}{% endblock %}
</head>



<body style="background-color: rgb(251, 255, 255);">

    {% load static %}
    <nav class="navbar navbar-expand-lg " style="background-color: black;">
        <a href="{% url 'video_list' %}" class="navbar-brand" style="text-decoration: none; color: #ffffff;">
            <img src="{% static 'images/video-3.png' %}" style="height: 35px; width: 30px; object-fit: contain; display: inline-block; margin-right: 1px;margin-top:-5px;background-color: black;" alt="Videofy Logo">
            Videofy
        </a>
    
        <!-- Toggle button for mobile -->
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
    
        <!-- Navbar items -->
        <div class="collapse navbar-collapse" id="navbarNav">
            <ul class="navbar-nav mr-auto">
                <li class="nav-item">
                    <a class="nav-link" style="text-decoration: none; color: #ffffff;" href="{% url 'video_list' %}">Home</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" style="text-decoration: none; color: #ffffff;" href="{% url 'upload_video' %}">Upload</a>
                </li>
            </ul>
    
            <!-- Search form -->
            <form class="form-inline my-1 my-lg-0" method="get" action="{% url 'video_list' %}">
                <div class="input-group" style="width: 950px;">
                    <input class="form-control  border-2" type="search" placeholder="Search" aria-label="Search" name="q" style="height:40px;margin-top: -1px;">
                    <div class="input-group-append">
                        <button class="btn btn-outline-secondary border-2" type="submit" style="background-color: #ffffff; height: 42px;margin-top: -2px;">
                            <img src="{% static 'images/icon-4.png' %}" style="height: 30px; width: 30px; object-fit: cover; display: block;align-items: center;align-content: center; background-color: #ffffff; padding: 0px;margin-top: -1px;color: aliceblue;" alt="icon">
                        </button>
                    </div>
                </div>
            </form>
            
            
    
            <!-- User authentication -->
            <ul class="navbar-nav ml-auto">
                {% if user.is_authenticated %}
                    <li class="nav-item">
                        <a class="nav-link"  style="text-decoration: none; color: #ffffff;margin-top:-5px;" href="#">Welcome, {{ user.username }}</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" style="text-decoration: none; color: #ffffff;margin-top: -5px;" href="{% url 'logout' %}">Logout</a>
                    </li>
                {% else %}
                    <li class="nav-item">
                        <a class="nav-link" style="text-decoration: none; color: #ffffff;" href="{% url 'login' %}">Login</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" style="text-decoration: none; color: #ffffff;" href="{% url 'register' %}">Register</a>
                    </li>
                {% endif %}
            </ul>
        </div>
    </nav>
    
   
    
    
   
    <div class="container">
        {% block content %}{% endblock %}
    </div>
    <!-- Bootstrap JS and dependencies -->
    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.6.0/dist/umd/popper.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
</body>
</html>